.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  background-color: #EEF79D;
}

#map {
  height: 100vh;
  width: 75%;
  float: right;
}

#sideBar {
  width: 25%;
  height: 100vh;
}

#search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: white;
  padding: 3%;
}

ol.venueList {
  padding-left: .8em;
}

li.listItem {
  list-style: none;
  font-size: 1em;
  margin-top: 1em;
  padding: 0;
  cursor: pointer;
}